# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ask-ah-mah"

# AI
OPENAI_API_KEY="sk-..."
GOOGLE_GENERATIVE_AI_API_KEY=

# Images
UNSPLASH_ACCESS_KEY=

# Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email (Resend)
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
